# ─── Server Environment Variables ───

# Port the Express server listens on
PORT=5000

# MongoDB connection string
MONGODB_URI=mongodb+srv://k95241906_db_user:g855slhrSo7URgUZ@cluster0.2hxccuq.mongodb.net
# MONGODB_URI=mongodb://localhost:27017/ai-interview-prep

# Node environment (development | production | test)
NODE_ENV=development
